.container{
    background-color:#916BBF;
    padding: 1rem;
    display: flex;


    flex-wrap: wrap;
    justify-content:space-between;
}
.elemento{
    border-color: white;
    border-style: outset;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 0.5rem;
    

}
.foto{
    
    border-radius: 15px;
}
.texto1{
    text-align: center;
    color: black;
}
.texto2{
    text-align: center;
    color: #C996CC;
}